@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Replaced dark theme with a light one */
  background-color: #f9fafb; /* Light gray background */
  color: #111827; /* Dark text */
  font-family: 'Poppins', sans-serif;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}
.input:focus {
  outline: none;
  border-color: #000;
}

